*{
    box-sizing: border-box;
	margin: 0 auto;
    padding: 0px;
}


body { 
    background-color: #F8E0EC;
    font-family: 'Farro', sans-serif;
}
  
h1, h2, h3, h4, h5, h6 {
	text-align: center;	
	margin: 1em auto;
}  

h1 {
	font-size: xx-large;
}
 
p {
	text-indent: 75px;
	margin: 0 45px;
    font-size: small;
}

#MENU{ 
	background-color: #f363ab;
	text-align: right;
	font-size: 20px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

#MENU ul {
    list-style: none; 
}

#MENU ul li {
	padding: 0px 30px 18px 30px;
	display: inline-block; 
}

#MENU ul li a{
	text-decoration: none;
	color:#F8E0EC 
}
   
header {
	background-color: #f363ab;
}

img {
	display: block;
	margin: 1em auto;
}

#left {
    float: left;
    width: 20%;
    height: 400px;
}

#right {
    float: right;
    width: 80%;
    height: 400px;
}

footer{
	text-align: center;
	margin: 0 auto;
    font-family: 'Courier New', 'Courier New', Courier, monospace;
}

#icone {
    padding: 150px 100px 30px 75px;
	display: inline-block;

} 

iframe {
	display: block;
	margin: 1em auto;
}